<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nineto6.Talk.domain.chatroom.repository.mapper.ChatroomMapper">
    <sql id="chatroomColumns">
        CHATROOM_ID, CHATROOM_CHANNEL_ID, CHATROOM_WRITER_NICKNAME, CHATROOM_TITLE, CHATROOM_REGDATE
    </sql>

    <!-- 저장 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="chatroomId">
        INSERT INTO
        CHATROOM (CHATROOM_CHANNEL_ID, CHATROOM_WRITER_NICKNAME, CHATROOM_REGDATE)
        VALUES (#{chatroomChannelId}, #{chatroomWriterNickname}, NOW())
    </insert>

    <!-- 채널 아이디로 삭제 -->
    <delete id="deleteByChannelId">
        DELETE FROM
        CHATROOM AS c
        WHERE
        c.CHATROOM_CHANNEL_ID = #{chatroomChannelId}
    </delete>

    <!-- ID 로 조회 -->
    <select id="findById">
        SELECT
        <include refid="chatroomColumns"/>
        FROM
        CHATROOM AS c
        WHERE
        c.CHATROOM_ID = #{chatroomId}
    </select>

    <!-- 채널 아이디로 조회-->
    <select id="findByChannelId">
        SELECT
            <include refid="chatroomColumns"/>
        FROM
            CHATROOM AS c
        WHERE
            c.CHATROOM_CHANNEL_ID = #{chatroomChannelId}
    </select>

    <!-- 자기가 속한 채팅방 리스트 조회 -->
    <select id="findChatroomByMemberId" parameterType="Long" resultType="Chatroom">
        SELECT
            c.CHATROOM_ID, c.CHATROOM_CHANNEL_ID, c.CHATROOM_WRITER_NICKNAME, c.CHATROOM_TITLE, c.CHATROOM_REGDATE
        FROM
            MEMBER AS m INNER JOIN CHATROOM_MEMBER AS cm ON m.MEMBER_ID = cm.MEMBER_ID
                        INNER JOIN CHATROOM AS c ON cm.CHATROOM_ID = c.CHATROOM_ID
        WHERE
            m.MEMBER_ID = #{memberId}
    </select>

    <resultMap id="memberNicknameMap" type="String">
        <result column="member_nickname"/>
    </resultMap>

    <resultMap id="profileMap" type="Profile">
        <id property="profileId" column="profile_id"/>
        <result property="memberId" column="member_id"/>
        <result property="profileStateMessage" column="profile_state_message"/>
        <result property="profileUploadFileName" column="profile_upload_file_name"/>
        <result property="profileStoreFileName" column="profile_store_file_name"/>
    </resultMap>

    <resultMap id="memberProfileMap" type="ProfileMember">
        <association property="memberNickname" resultMap="memberNicknameMap"/>
        <association property="profile" resultMap="profileMap"/>
    </resultMap>

    <!-- 채팅방에 속한 사용자 프로필 조회 -->
    <select id="findMemberProfileByChatroomChannelId" parameterType="String" resultMap="memberProfileMap">
        SELECT
            m.MEMBER_NICKNAME,
            p.PROFILE_ID, p.MEMBER_ID, p.PROFILE_STATE_MESSAGE, p.PROFILE_UPLOAD_FILE_NAME, p.PROFILE_STORE_FILE_NAME
        FROM
            CHATROOM AS c INNER JOIN CHATROOM_MEMBER as cm ON c.CHATROOM_ID = cm.CHATROOM_ID
                          INNER JOIN MEMBER AS m ON cm.MEMBER_ID = m.MEMBER_ID
                          INNER JOIN PROFILE AS p ON m.MEMBER_ID = p.MEMBER_ID
        WHERE
            c.CHATROOM_CHANNEL_ID = #{chatroomChannelId}
    </select>

</mapper>